---
permalink: "/"
---

<html>
  <head>
    <!-- Main content to SEO -->
    <title>KawaiiBot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta property="og:title" content="KawaiiBot" />
    <meta property="og:description" content="A kawaii Discord bot that makes your server more fun!" />
    <meta property="og:image" content="https://kawaiibot.xyz/assets/images/kawaii.png" />
    <link rel="icon" type="image/x-icon" href="https://kawaiibot.xyz/assets/images/kawaii.png">
    <meta name="revisit-after" content="2 days">
    <meta name="keywords" content="KawaiiBot, Discord, partner, AlexFlipnote">
    <meta name="theme-color" content="#f09de3">

    <!-- Style and JS stuff -->
    <link href="{{ site.url }}/assets/css/modesta.css" type="text/css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/custom.css" type="text/css" rel="stylesheet">

    <script src="{{ site.url }}/assets/js/smoothscroll.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ site.url }}/assets/js/main.js" type="text/javascript" charset="utf-8"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body class="github-font-standard">
    <section class="fullscreen">
      <div class="background" style="background-image: url('assets/images/background.jpg')"></div>
      <div class="center-object">
        <section class="me">
          <img class="image-title" src="assets/images/kawaii.png">
          <h1 class="title no-margin">KawaiiBot</h1>
          <p class="undertitle">A kawaii Discord bot that makes your server more fun!</p>
        </section>
        <div class="buttons">
          <a href="https://discord.gg/wGwgWJW" class="btn discord" target="_blank">Discord</a>
          <a href="https://discordapp.com/oauth2/authorize?client_id=195244341038546948&scope=bot" class="btn emerald" target="_blank">Invite me</a>
          <a href="https://twitter.com/KawaiiDiscord" class="btn twitter" target="_blank">Twitter</a>
          <a href="https://www.patreon.com/KawaiiBot" class="btn patreon" target="_blank">Donate</a>
          <a href="https://discordservers.me/" class="btn sun-flower black-text" target="_blank" alt="Partnered list">Discord Server List</a>
        </div>
      </div>
    </section>

    <a href="#information"><div id="fade" class="arrow bounce">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.32 291.98" class="white-fill">
        <path d="M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,486.4,35.4,466.5,15.5z"/>
      </svg>
    </div></a>

    <section class="container kawaii-developers" id="information">
      <h3 class="kawaii-devs-title">Developers of KawaiiBot:</h3>
      <div class="flex-grid">
        {% for member in site.data.developers %}
          <div class="col-xs-6">
            <div class="me unset">
              <img class="image-title" src="{{ member.avatar }}">
              <div class="unset">
                <h1 class="title no-margin">{{ member.name }}</h1>
                <p class="undertitle"><i>{{ member.title }}</i></p>
                {% for link in member.links %}
                  <a href="{{ link.url }}" target="_blank" {% if link.colour %}style="color: {{ link.colour }}"{% endif %}>
                    <i class="{{ link.faicon }} dev-link-logo"></i>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

  </body>
</html>
