<html>
  <head>
    {% set title = "KawaiiBot#0769" %}
    {% set desc = "A kawaii bot that makes your server more kawaii!" %}
    {% include "components/_head.html" %}
  </head>
  <body class="dark-theme github">
    <section class="container">

    <div class="me unset">
      <img draggable="false" src="/static/images/profile.png" class="image-title">
      <div class="unset">
        <h1 class="title">KawaiiBot#0769</h1>
        <p class="undertitle italic">A kawaii bot that makes your server more kawaii!</p>
      </div>
    </div>

    <div class="buttons move-bottom-stuff-yes">
      <a href="https://discord.com/oauth2/authorize?client_id=195244341038546948" class="btn emerald-dropshadow white-text hover" target="_blank">Invite me 💖</a>
      <a href="/commands" class="btn emerald-dropshadow white-text hover" target="_blank">Commands</a>
      <a href="https://discord.gg/wGwgWJW" class="btn discord-dropshadow white-text hover" target="_blank">Discord</a>
      <a href="https://github.com/KawaiiBot" class="btn github-dropshadow white-text hover" target="_blank">GitHub</a>
    </div>

    <div class="flex-grid branding-grid">
      <div class="col-xs-6">
        <img src="/static/images/root_image_1.png" class="center">
      </div>
      <div class="col-xs-6">
        <h2 class="title">What can she do?</h2>
        <p class="text">
          KawaiiBot is a kawaii bot that makes your server more kawaii!
          Packed with multiple reaction commands, funny image commands and so much more.
          The bot takes usage of Slash commands so all of the commands the bot has to offer is already provided by Discord's UI whenever you add the bot.
        </p>
      </div>
    </div>

    <div class="flex-grid branding-grid">
      <div class="col-xs-6">
        <img src="/static/images/root_image_2.png" class="center">
      </div>
      <div class="col-xs-6">
        <h2 class="title">Slash commands</h2>
        <p class="text">
          With the power of slash commands, it is much easier to see every single command the bot has
          to offer by simply typing `/` in any channel! It even uses many of
          Discord's new functionality to make your experience even better!
        </p>
      </div>
    </div>

    <footer class="box-container secondary-dropshadow">
      <div class="flex-grid">
        <div class="col-xs-6 text-left">
          <a class="white-text" href="/privacy" target="_blank">Privacy Policy</a>
        </div>
        <div class="col-xs-6 text-right">
          <a class="white-text" href="/terms" target="_blank">Terms of Service</a>
        </div>
      </div>
    </footer>

    </section>
  </body>
</html>
