<html>
  <head>
    {% set title = "KawaiiBot#0769" %}
    {% set desc = "A kawaii bot that makes your server more kawaii!" %}
    {% set path = "/" %}
    {% include "components/_head.jinja" %}
  </head>
  <body class="dark-theme github-font-standard">
    <section class="container">

    <div class="me unset">
      <img draggable="false" src="{{ static('images/profile.png') }}" class="image-title">
      <div class="unset">
        <h1 class="title">KawaiiBot#0769</h1>
        <p class="undertitle italic">A kawaii bot that makes your server more kawaii!</p>
      </div>
    </div>

    <div class="buttons move-bottom-stuff-yes">
      <a href="https://discord.com/oauth2/authorize?client_id=195244341038546948&scope=bot+applications.commands" class="btn emerald-dropshadow hover" target="_blank">Invite me 💖</a>
      <a href="https://discord.gg/wGwgWJW" class="btn discord-dropshadow hover" target="_blank">Discord</a>
      <a href="https://github.com/KawaiiBot" class="btn github-dropshadow hover" target="_blank">GitHub</a>
    </div>

    <div class="flex-grid branding-grid">
      <div class="col-xs-6">
        <img src="https://i.alexflipnote.dev/94FirtU.png" class="center">
      </div>
      <div class="col-xs-6">
        <h2 class="title">What can she do?</h2>
        <p class="text">
          KawaiiBot is a kawaii bot that makes your server more kawaii!
          Packed with multiple reaction commands, funny image commands and so much more.
          <s>even porn, but we don't talk about that.</s>
          The bot takes usage of Slash commands so all of the commands the bot has to offer
          is already provided by Discord's UI whenever you add the bot.
        </p>
      </div>
    </div>

    <div class="flex-grid branding-grid">
    <div class="col-xs-6">
        <h2 class="title">Enabling NSFW</h2>
        <p class="text">
          If you <span class="notice sun-flower-text">really</span> want to enable NSFW,
          you'll have to manually allow it on your server. KawaiiBot is not able to know
          if a channel is marked as NSFW or not, so to make it work, the bot pushes the NSFW
          commands without access to anyone in the server, except for admins. Follow the video
          to see how you can enable it on your server. The commands are called
          <code>/danbooru</code>, <code>/gelbooru</code>, <code>/rule34</code> and <code>/e621</code>.
        </p>
      </div>
      <div class="col-xs-6">
        <video controls>
          <source src="https://i.alexflipnote.dev/4RXwwkJ.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    </section>
  </body>
</html>
